<%- include("partials/header.ejs") %>
<div class="container-grid">
    <main class="pokemon"><h1>Here's the info about the Pókemon:</h1>
        <p class="name">Name: <%= content.name %></p>
        <div id="loading" style="display: flex;">Loading...</div>
        <p id="error-message" style="display: none; color: red;">Failed to load image</p>
        <img id="pokemon-image" src="<%= spriteUrl %>" alt="Image of <%= content.name %>" style="display: none;" height="150px">
        <p>Ability:</p>
        <ul>
        <% for (let index = 0; index < content.abilities.length; index++) { %>
            <li><%= content.abilities[index].ability.name %></li>
        <%} %>
        </ul> 
        <form method="GET">
            <button type="submit" formaction="/pokemon">View another</button>
        </form>
    </main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const loading = document.getElementById("loading");
    const pokemonImage = document.getElementById("pokemon-image");
    const errorMessage = document.getElementById("error-message");

    pokemonImage.onload = function() {
        loading.style.display = "none";
        pokemonImage.style.display = "inline";
    };

    pokemonImage.onerror = function() {
                loading.style.display = "none";
                errorMessage.style.display = "block";
    };

    // Timeout to handle case where image load event might not trigger
    setTimeout(() => {
                if (pokemonImage.style.display === "none") {
                    console.error('Image load timeout');
                    loading.style.display = "none";
                    errorMessage.style.display = "block";
                }
    }, 15000);
});
</script>
<%- include("partials/footer.ejs") %>